<mat-toolbar color="primary">
  <button  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['/']">
    <mat-icon matBadgeColor="warn">home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['/archive']">
    <mat-icon matBadge="{{totalArch}}" matBadgeColor="warn">archive</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
