.forms{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  mat-form-field{
    margin-top: 30px;
    background-color: #6574C4;
    width: 40%;
    padding: 0 50px;
    h1{
      color: #fff;
      font-size: 25px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      padding: 10px;
    }
    input{
      width: 100%;
      height: 35px;
    }
    button{
      background-color: red;
      color: #fff;
      display: flex;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
}
