<div class="forms">
  <h1>Add notes</h1>
  <mat-form-field>
    <input required matInput placeholder="add notes" #bankname="ngModel" [(ngModel)]="notes.content">
  </mat-form-field>
  <button *ngIf="editing else updateTemplate" mat-button (click)="saveNote()" [disabled]="bankname.invalid" >Save Note</button>
  <ng-template #updateTemplate>
    <button mat-button (click)="updateNote()" [disabled]="bankname.invalid" >Update Note</button>
  </ng-template>
</div>
<app-cart
  (onEdit)="editNote($event)"
>
</app-cart>
