.forms{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #6574C4;
  margin: 0 auto;
  padding: 20px 50px;
  margin-top: 30px;
  border-radius: 5px;
  h1{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    font: 900 24px/32px Roboto,Helvetica Neue,sans-serif;
  }
  mat-form-field{
    width: 100%;
    input{
      width: 100%;
    }
  }
  button{
    background-color: red;
    color: #fff;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
  }
}
