.container{
  padding: 0 16px;
  .hidden{
    display: none;
  }
  .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card-content{
      padding: 40px 10px;
    }
    mat-card{
      width: 300px;
      margin: 50px 10px;
    }
    button{
      margin: 0 10px;
    }
  }
}
