<div class="container">
  <div class="cards">
    <mat-card *ngFor="let card of cards$ | async; trackBy: trackByCardId">
      <div class="card-content">
        <p>{{card.content}}</p>
      </div>

      <button *ngIf="editing; else submitBtn" mat-fab color="primary">
        <mat-icon (click)=handleEdit(card)>edit</mat-icon>
      </button>
      <button mat-fab color="primary">
        <mat-icon (click)=handleArchive(card)>archive</mat-icon>
      </button>
      <button mat-fab color="warn">
        <mat-icon (click)=handleDelete(card)>delete</mat-icon>
      </button>
      <ng-template mat-fab #submitBtn>
        <button  mat-fab color="primary">
          <mat-icon>save</mat-icon>
        </button>
      </ng-template>
    </mat-card>
  </div>
</div>

